<p style="color: green"><%= notice %></p>

<% content_for :title, "Messages" %>

<h1>Messages</h1>

<div id="messages" class="h-96 overflow-auto">
  <%= render partial: "message", collection: Message.last(10), as: :message %>
</div>

<%= form_with model: Message.new, id: "message_form" do |f| %>
  <%= f.text_field :content, placeholder: "message..." %>
  <%= f.submit "send", class: "p-2 font-bold" %>
<% end %>