<p style="color: green"><%= notice %></p>

<% content_for :title, "Messages" %>

<h1>Messages</h1>

<%= turbo_stream_from "messages" %>

<div id="messages" class="h-96 overflow-auto">
  <%= render Message.last(10) %>
</div>

<%= form_with model: Message.new do |f| %>
  <%= f.text_field :content, placeholder: "message..." %>
  <%= f.submit "send", class: "p-2 font-bold" %>
<% end %>