<p style="color: green"><%= notice %></p>

<% content_for :title, "Messages" %>

<h1>Messages</h1>

<%= tag.div do %>
  <%= tag.div id: "messages", class: "h-96 overflow-auto" do %>
    <% Message.last(10).each do |message| %>
      <%= tag.p message.content %>
    <% end %>
  <% end %>

  <%= form_with model: Message.new do |f| %>
    <%= f.text_field :content, placeholder: "message..." %>
    <%= f.submit "send", class: "p-2 font-bold" %>
  <% end %>
<% end %>

<%= link_to "New message", new_message_path %>
